@model DAL.Client

@{
    ViewBag.Title = "Add Client";
}

<h3>Add Client</h3>
@using (Html.BeginForm("Add", "Clients", FormMethod.Post, new { id = "clientsAdd" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.FitocracyId)

        <div class="form-group">
            @Html.LabelFor(model => model.ClientName, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientName, new {htmlAttributes = new {@class = "form-control", style = "width:425px", maxlength = "50"}})
                @Html.ValidationMessageFor(model => model.ClientName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientUserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientUserName, new { htmlAttributes = new { @class = "form-control", style = "width:425px", maxlength = "30" } })
                @Html.ValidationMessageFor(model => model.ClientUserName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FitocracyUserName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FitocracyUserName, new { htmlAttributes = new { @class = "form-control", style = "width:425px", maxlength = "30" } })
                @Html.ValidationMessageFor(model => model.FitocracyUserName, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Clients", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/clientsIndex")
}
