@model Dauber.Models.MyAccountIndexViewModel

@{
    ViewBag.Title = "My Account";
}

<h3>My Account</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentClients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentClients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxClients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxClients)
        </dd>
        <dt>
            &nbsp;
        </dt>
        <dd>
            &nbsp;
        </dd>
        <dt>
            &nbsp;
        </dt>
        <dd>
            <input type="button" class="btn btn-success btn-xs" value="Change Plan" onclick="location.href='@Url.Action("UpdatePlan", "MyAccount")' " />
        </dd>
    </dl>
</div>

@if (Model.HasCardOnFile)
{
    <br/>
    <h4>Payment Method</h4>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.CardType)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardType)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CardNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CardNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ExpirationDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ExpirationDate)
            </dd>
            <dt>
                &nbsp;
            </dt>
            <dd>
                &nbsp;
            </dd>
            <dt>
                &nbsp;
            </dt>
            <dd>
                <input type="button" class="btn btn-warning btn-xs" value="Update Card" onclick="location.href ='@Url.Action("UpdateCard", "MyAccount")'" />
            </dd>
        </dl>
    </div>
}